@use './variables' as *;

:root {
	--color-success: #29ae29;
	--color-warning: #ffc62a;
	--color-error: #ef4444;

	--color-bg: #ffffff;
	--color-text: #000000;

	--color-text-90: #00000090;

	--color-theme: #c4c4c4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overscroll-behavior: none;
	height: 100%;
}

body {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding: 8px 8px 0;
	font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	background-color: var(--color-text);
	cursor: image-set(url('~/assets/images/cursor@1x.png') 1x, url('~/assets/images/cursor@2x.png') 2x), auto;

	@media screen and (min-width: $md) {
		padding: 12px 12px 0;
	}

	@media screen and (min-width: $lg) {
		padding: 88px 20px 0;
		font-size: 20px;
		line-height: 26px;

		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			z-index: 50;
			height: 88px;
			width: 100%;
			background-color: var(--color-text);
		}
	}
}

body > #__nuxt {
	flex: 1;
}

body > #__nuxt > div {
	height: 100%;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	padding: 0 16px;

	@media screen and (min-width: $sm) {
		max-width: 100%;
		padding: 0 32px;
	}

	@media screen and (min-width: $lg) {
		max-width: $lg;
		padding: 0 64px;
	}

	@media screen and (min-width: $xl) {
		max-width: $xl;
		padding: 0 80px;
	}

	@media screen and (min-width: $xxl) {
		max-width: $xxl;
		padding: 0 96px;
	}
}

.user-container {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;

	@media screen and (min-width: $sm) {
		max-width: 100%;
	}

	@media screen and (min-width: $lg) {
		max-width: $lg;
	}
}

.cursor-pointer {
	cursor:
		url('~/assets/images/cursor-pointer@1x.png') 15 10,
		url('~/assets/images/cursor-pointer@2x.png') 15 10,
		auto;
}
