@use './variables' as *;

:root {
	--color-white: #ffffff;
	--color-gray: #f3f3f3;
	--color-black: #000000;
	--color-black-20: #00000020;
	--color-dark: #2d2d2d;
}

* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Manrope', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: var(--color-dark);
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	padding: 0 16px;

	@media screen and (min-width: $sm) {
		max-width: 100%;
		padding: 0 32px;
	}

	@media screen and (min-width: $md) {
		max-width: 100%;
	}

	@media screen and (min-width: $lg) {
		padding: 0 32px;
	}

	@media screen and (min-width: $xl) {
		max-width: $xl;
		padding: 0 96px;
	}
}
