@use './variables.scss' as *;

.typo-h1 {
	font-size: 65px;
	font-weight: 600;
	line-height: 110%;

	@media screen and (min-width: $md) {
		font-size: 90px;
	}
}

.typo-h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 140%;
}

.typo-h3 {
	font-size: 27px;
	font-weight: 600;
	line-height: 140%;
}

.typo-h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 140%;
}

.typo-p-large {
	font-size: 24px;
	font-weight: 400;
	line-height: 140%;
}

.typo-p-medium {
	font-size: 20px;
	font-weight: 400;
	line-height: 140%;
}

.typo-p-small {
	font-size: 17px;
	font-weight: 400;
	line-height: 140%;
}
